{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block css %}
{% block head_css_site %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'stylesheet/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/chat.css' %}">

{% endblock head_css_site %}
{% endblock css %}


{% block content %}

<div class="dashboardWrapper">
    <div class="dashboardSideBar sideWall">
        <div class="sideBarToggler" id="sideBarToggler">
            <button class="rightArrow">&gt</button>
            <button class="leftArrow">&lt</button>
        </div>
        <div class="dashboardSideBarContents">
            <h3>Services</h3>
            <ul>
                {% for service in services %}
                <li><a class="linkSideBar" href="#">{{service.name}}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <main class="dashboardMain">
        <div class="dashboardContent">
            <div class="dashboardHead">
                <h3>Dashboard</h3>
            </div>
            <table class="detailsTable">
                <tr class="detailsRow">
                    <td class="detailsTitle">Name </td>
                    <td class="detailsInfo">{{user.name}}</td>
                </tr>
                <tr class="detailsRow">
                    <td class="detailsTitle">Business Name </td>
                    <td class="detailsInfo">{{corporate.businessName}}</td>
                </tr>
                <tr class="detailsRow">
                    <td class="detailsTitle">Profession </td>
                    <td class="detailsInfo">{{corporate.profession}}</td>
                </tr>
                <tr class="detailsRow">
                    <td class="detailsTitle">Mail ID </td>
                    <td class="detailsInfo">{{user.email}}</td>
                </tr>
                <tr class="detailsRow">
                    <td class="detailsTitle">Mobile no </td>
                    <td class="detailsInfo">{{user.phone}}</td>
                </tr>
                <tr class="detailsRow">
                    <td class="detailsTitle">Location</td>
                    <td class="detailsInfo">{{corporate.location}}</td>
                </tr>
            </table>
        </div>
        <div class="profileContent">
            <div>
                <h3>Profile</h3>
                
                <p class="profileStatus">Status - <span>{% if corporate.is_active == True %}Active{% else %}Inactive{% endif %}</span></p>
                {% if corporate.is_active == True %}
                <a href="{% url 'corporateProfileForm' %}">
                    <button class="btn btn-outline-primary">Update Profile</button>
                </a>
                {% else %}
                <button id="completeProfileButton" class="btn btn-outline-primary">Complete Profile</button>
                {% endif %}
            </div>
        </div>
    </main>

</div>
<div class="packagePromptWrapper">
    <div class="prompt">
        <div class="cancelPrompt">
            <i class="fas fa-xmark"></i>
        </div>
        <header class="promptHead">
            <center>
                <h3>Connet to Twamitra</h3>
            </center>
        </header>
        <div class="promptPlans">
            <form action="/verifyReferralCode/" class="refCodeForm" method="POST">
                {% csrf_token %}
                <p>Have a referral code ?</p>
                <div class="refCode">
                    <div class="form-outline refInput">
                        <input
                            type="text"
                            name="referralCode"
                            id="referralCode"
                            class="form-control"
                            oninput="updateVerifyButton()"
                        />
                        <label class="form-label" for="form12">Referral code</label>
                    </div>
                    <button type="button" class="refVerify" onclick="fetchVerification()" disabled>Verify</button>
                </div>
                <p id="verifyStatus" style="display: none;"></p>
                <button type="submit" id="applyButton" class="btn btn-primary" >Apply</button>
                <p class="info">If you don't have a referral code you can still apply</p>
            </form>
        </div>
    </div>
</div>

{% include 'chat/chatroom.html'%}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var completeProfileButton = document.getElementById("completeProfileButton");
        var packagePromptWrapper = document.querySelector(".packagePromptWrapper");
        var cancelPromptButton = document.querySelector(".cancelPrompt");
        var dashboardSideBar = document.querySelector(".dashboardSideBar");
        var rightArrow = document.querySelector(".rightArrow");
        var leftArrow = document.querySelector(".leftArrow");

        function togglePackagePrompt() {
            packagePromptWrapper.classList.toggle("show");
        }

        function updateSidebarVisibility() {
            if (window.innerWidth <= 720) {
                rightArrow.style.display = "block";
                dashboardSideBar.style.left = "-17rem";
            } else {
                rightArrow.style.display = "none";
                dashboardSideBar.style.left = "0rem";
            }
        }

        completeProfileButton.addEventListener("click", function () {
            togglePackagePrompt();
        });

        cancelPromptButton.addEventListener("click", function () {
            togglePackagePrompt();
        });

        rightArrow.addEventListener("click", () => {
            rightArrow.style.display = "none";
            dashboardSideBar.style.left = "0";
        });

        leftArrow.addEventListener("click", () => {
            rightArrow.style.display = "block";
            dashboardSideBar.style.left = "-17rem";
        });

        window.addEventListener("resize", () => {
            updateSidebarVisibility();
        });


        updateSidebarVisibility();
    });


    async function fetchVerification() {
        var verifyStatus = document.getElementById('verifyStatus');
        var referralCode = document.getElementById('referralCode').value;
        console.log("HELLO REFER");
        console.log(referralCode);


        var url = `/checkReferralCode/${referralCode}`;
        
        try {
            const result = await fetch(url);
            const response = await result.json();
            
            if (response.status) {
                // Code is verified
                verifyStatus.style.display = "block";
                verifyStatus.innerText = response.message;
                verifyStatus.style.color = "green";
            } else {
                // Code is not verified
                verifyStatus.style.display = "block";
                verifyStatus.innerText = response.message;
                verifyStatus.style.color = "red";
            }
        } catch (error) {
            console.error("Error while fetching API:", error);
            alert("Error while fetching API");
        }
    }

    function updateVerifyButton() {
        var referralCodeInput = document.getElementById('referralCode');
        var verifyButton = document.querySelector('.refVerify');
        var applyButton = document.getElementById('applyButton');
        var verifyStatus = document.getElementById('verifyStatus');

        if (referralCodeInput.value.length >= 8) {
            verifyButton.removeAttribute('disabled');
            applyButton.removeAttribute('disabled');
            verifyStatus.innerText = '';
        } else {
            verifyButton.setAttribute('disabled', 'true');
            verifyStatus.style.display = "block";
            verifyStatus.style.color = "red"
            verifyStatus.innerText = 'Referral code must be at least 8 characters';
        }
    }
    
    </script>
<script src="https://cdn.lordicon.com/lordicon.js"></script>


{% endblock %}

